body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #333;
}

button {
    background-color: #490851;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0e110f;
}

#flower-container {
    margin-top: 50px;
    display: grid;
    place-items: center;
}

.flower {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}